.searchBar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.search {
    text-align: center;
    height: 25px;
    width: 50%;
    background-color: burlywood;
    color: brown;
    border-radius: 10px;
    outline: none;
}