body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    background-color:brown;
    position: fixed;
    width: 100%;
    gap: 10px;
    top: 0;
}

.link {
    background-color: darkcyan;
    padding: 10px;
    border: 2px solid black;
    margin: 5px;
}