.cityCard {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}

.cityTitle {
    font-size: 20px;
}

.currentCard {
    margin-top: 10px;
}

.forecastCard {
    margin-top: 10px;
}

.forecastTable {
    width: 100%;
    font-size: 0.9rem;
    text-align: center;
}