body {
    margin: 0;
    padding: 0;
}

.bar {
    display: flex;
    align-items: center;
    background-color: burlywood;
    position: fixed;
    top: 0;
    width: 100%;
    color: brown;
}

.menuRight {
    display: flex;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.link {
    padding: 10px;
    outline: 2px solid brown;
    margin: 5px;
    border-radius: 10px;
    text-decoration: none;
    color: brown;
}

.active {
    outline: 4px solid brown;
    font-weight: 800;
}

.shopTitle {
    padding: 10px;
    margin: 5px;
    flex: 1;
}

.themeButton {
    margin-right: 20px;
    background-color: transparent;
    border: 2px solid brown;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
}