.title {
    text-align: center;
    width: 100%;
}

.detailedCard {
    display: flex;
    border: solid;
    border-radius: 20px;
    align-items: center;
    position: relative;
    margin-top: 40px;
}

.info {
    flex-direction: column;
    margin-left: 40px;
}

.priceTag {
    font-size: 40px;
}

.titleTag {
    font-size: 30px;
}

.descriptionTag {
    font-size: 25px;
}

.imgTag {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.button-back {
    background-color: transparent;
    border: solid;
    border-radius: 10px;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.button-add-favorite {
    background-color: transparent;
    border: none;
    font-size: 60px;
    cursor: pointer;
    position: absolute; 
    top: 30px;         
    right: 30px;
}
